/* SELAMAT DATANG DI BLOG DUMET SCHOOL */

* {margin: 0; padding: 0;}

.form_hint, .required_notification {font-size: 18px;}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}
h4 {
	font-family: Arial, Helvetica, sans-serif;
	color: #a7adb3;
	padding-bottom: 20px;
	margin-bottom: 20px;	
  }

#main {
	width: 680px;
	margin: auto;
	margin-top: 100px;	
}

#main h3 {
	border-bottom: 3px solid rgb(85, 82, 82);
	color: #4a4c4e;
	padding-bottom: 20px;
	margin-bottom: 20px;	
}

#main a {
	color: #333;
	text-decoration: none;
}	

#main a:hover {
	color: #03F;	
}
.table1 {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 100%;
	border-bottom: 1px solid #999;
}

.table1 tr th{
    background: #ffffff;
    color: rgb(19, 16, 16);
    font-weight: normal;
}

.table1, th, td {
    padding: 8px 20px;
    text-align: center;
}

.table1 tr:hover {
    background-color: #ffffff;
}

.table1 tr:nth-child(even) {
    background-color: #ffffff;
}
.button {
	background-color: #4c7faf;
	border: none;
	color: white;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }
  .button2 {
	display: inline-block;
	padding: 5px 15px;
	font-size: 16px;
	margin: 10px 2px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 3px #999;
  }
  
  .button2:hover {background-color: #3e8e41}
  
  .button2:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }
  input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: #d1dde4;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  }
  .button {border-radius: 4px;}
  .button2 {border-radius: 12px;}